* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alexandria", sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

.actions__btn, .actions__link, .cta__btn {
  width: 100%;
  cursor: pointer;
  color: #000000;
  font-family: "Alexandria", sans-serif;
}

.banner__title {
  text-transform: capitalize;
  color: #E5E5E5;
}

.banner__text {
  font-family: "Inter", sans-serif;
  color: #999999;
}

.title {
  font-size: 48px;
  line-height: 100%;
  font-weight: 400;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-transform: capitalize;
  color: #E5E5E5;
  text-align: center;
}

.text {
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  text-align: center;
  color: #999999;
  text-transform: capitalize;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 20px 0;
  background-color: #000000;
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: flex;
    background-color: transparent;
    border: none;
  }
}

.logo {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  width: 100%;
  max-width: 254px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .logo {
    max-width: 180px;
  }
}
.logo svg:hover path {
  fill: #FFFFFF;
}
.logo svg:active path {
  fill: #9DFF3A;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  list-style: none;
}
.nav__item {
  width: 100%;
}
.nav__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: #999999;
}
.nav__link:hover {
  color: #E5E5E5;
}
.nav__link:active {
  color: #999999;
}

.cta {
  width: 100%;
  max-width: 254px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (max-width: 767px) {
  .cta {
    display: none;
  }
}
@media (max-width: 1024px) {
  .cta {
    max-width: 180px;
  }
}
.cta__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: #999999;
}
.cta__link:hover {
  color: #FFFFFF;
}
.cta__link:active {
  color: #999999;
}
.cta__btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 40px;
  padding: 10px 0;
  max-width: 141px;
  background-color: #9DFF3A;
  color: #000000;
  border: none;
}
@media (max-width: 1024px) {
  .cta__btn {
    display: none;
  }
}
.cta__btn:hover {
  background-color: #FFFFFF;
}
.cta__btn:active {
  background-color: #9DFF3A;
}

.banner .container {
  display: flex;
  justify-content: space-between;
}

.banner {
  padding: 88px 0;
  background-color: #000000;
}
.banner__intro {
  width: 100%;
  max-width: 688px;
  margin: 69.5px 0;
}
.banner__title {
  font-size: 64px;
  line-height: 110%;
  font-weight: 700;
  max-width: 661px;
  margin-bottom: 24px;
}
.banner__text {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  max-width: 583px;
  margin-bottom: 40px;
}
.banner__wrapper-image {
  width: 512px;
  height: 512px;
}
.banner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.status-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 100%;
  max-width: 137px;
  padding: 9px 0;
  border: 1px solid #4D4D4D;
  border-radius: 24px;
  margin-bottom: 24px;
}
.status-tag__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #9DFF3A;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.actions {
  max-width: 361px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.actions__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  max-width: 151px;
  border: none;
  border-radius: 40px;
  padding: 14px 0;
  background-color: #9DFF3A;
  text-decoration: none;
}
.actions__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  max-width: 190px;
  padding: 14px 0;
  border: 1px solid #4D4D4D;
  border-radius: 24px;
  background-color: #000000;
}
.actions__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #E5E5E5;
}/*# sourceMappingURL=style.css.map */