* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$buttonBgNormal: #9DFF3A;
$buttonTextNormal: #000000;
$buttonBgHover: #FFFFFF;

$bgColor: #000000;
$bgSecColor: #0F0F0F;

$borderColor: #4D4D4D;

$titleColor: #E5E5E5;

$NeofiColor: #FFFFFF;
$LoginColor: #FFFFFF;

$textColorHover: #E5E5E5;
$textBtnColor: #E5E5E5;
$textColor: #999999;
$textGray4Color: #4D4D4D;
$textGreenColor: #9DFF3A;

$iconColorNormal: #9DFF3A;
$iconColorHover: #FFFFFF;
$gradientColor: linear-gradient(180deg, #75a941 0%, #3a7500 100%);

$fontPrimary: "Alexandria", sans-serif;
$fontSecond: "Inter", sans-serif;

$tablet: 1024px;
$mobile: 767px;

body {
    font-family: $fontPrimary;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

@mixin font($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

%btn-styles {
    width: 100%;
    cursor: pointer;
    color: $buttonTextNormal;
    font-family: $fontPrimary;
}

%title-styles {
    @include font(48px, 100%, 400);
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    text-transform: capitalize;
    color: $titleColor;
    text-align: center;
}

%text-styles {
    @include font(18px, 140%, 400);
    text-align: center;
    color: $textColor;
    text-transform: capitalize;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 20px 0;
    background-color: $bgColor;

    &__burger {
        display: none;

        @media (max-width: $mobile) {
            display: flex;
            background-color: transparent;
            border: none;
        }
    }
}

.logo {
    @include font(22px, 27px, 500);
    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 11px;
    text-decoration: none;
    color: $NeofiColor;

    @media (max-width: $tablet) {
        max-width: 180px;
    }

    svg:hover path {
        fill: $buttonBgHover;
    }

    svg:active path {
        fill: $iconColorNormal;
    }
}

.nav {

    @media (max-width: $mobile) {
        display: none;
    }

    &__list {
        display: flex;
        column-gap: 30px;
        list-style: none;
    }

    &__item {
        width: 100%;
    }

    &__link {
        @include font(16px, 20px, 400);
        text-decoration: none;
        text-transform: capitalize;
        color: $textColor;
    }

    &__link:hover {
        color: $textColorHover;
    }

    &__link:active {
        color: $textColor;
    }
}

.cta {
    @media (max-width: $mobile) {
        display: none;
    }

    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;

    @media (max-width: $tablet) {
        max-width: 180px;
    }

    &__link {
        @include font(16px, 20px, 400);
        text-decoration: none;
        text-transform: capitalize;
        color: $textColor;
    }

    &__link:hover {
        color: $LoginColor;
    }

    &__link:active {
        color: $textColor;
    }

    &__btn {
        @include font(16px, 20px, 400);
        @extend %btn-styles;
        border-radius: 40px;
        padding: 10px 0;
        max-width: 141px;
        background-color: $buttonBgNormal;
        color: $buttonTextNormal;
        border: none;

        @media (max-width: $tablet) {
            display: none;
        }

    }

    &__btn:hover {
        background-color: $buttonBgHover;
    }

    &__btn:active {
        background-color: $buttonBgNormal;
    }
}

.banner .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
    }
}

.banner {
    padding: 88px 0;
    background-color: $bgColor;

    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $tablet) {
            max-width: 530px;
        }

        @media (max-width: $mobile) {
            max-width: 361px;
            align-items: center;
            text-align: center;
        }


    }

    &__title {
        color: $titleColor;
        text-transform: capitalize;
        @include font(64px, 110%, 700);
        max-width: 661px;
        margin-bottom: 24px;

        @media (max-width: $tablet) {
            @include font(48px, 110%, 600);
            max-width: 520px;
            margin-bottom: 20px;
        }

        @media (max-width: $mobile) {
            @include font(40px, 110%, 500);
            max-width: 361px;
            margin-bottom: 16px;
        }
    }

    &__text {
        font-family: $fontSecond;
        color: $textColor;
        @include font(20px, 140%, 400);
        max-width: 583px;
        margin-bottom: 40px;

        @media (max-width: $tablet) {
            @include font(18px, 20px, 400);
            max-width: 500px;
            margin-bottom: 36px;
        }

        @media (max-width: $mobile) {
            @include font(16px, 20px, 400);
            font-family: $fontPrimary;
            max-width: 361px;
            margin-bottom: 32px;
        }
    }

    &__wrapper-image {
        min-width: 300px;
        min-height: 300px;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;

        @media (max-width: $tablet) {
            max-width: 400px;
        }

        @media (max-width: $mobile) {
            max-width: 300px;
        }
    }
}

.status-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 100%;
    max-width: 137px;
    padding: 9px 0;
    border: 1px solid $borderColor;
    border-radius: 24px;
    margin-bottom: 24px;

    @media (max-width: $tablet) {
        margin-bottom: 20px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 16px;
    }

    &__text {
        @include font(14px, 17px, 400);
        color: $textGreenColor;
        backdrop-filter: blur(40px);
    }
}

.actions {
    width: 100%;
    max-width: 361px;
    display: flex;
    column-gap: 20px;

    @media (max-width:$mobile) {
        max-width: 178px;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 32px;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        @include font(18px, 22px, 400);
        @extend %btn-styles;
        max-width: 151px;
        border: none;
        border-radius: 40px;
        padding: 14px 0;
        background-color: $buttonBgNormal;
        text-decoration: none;

        @media (max-width:$tablet) {
            @include font(16px, 20px, 400);
            max-width: 140px;
            padding: 14px;
        }
    }

    &__link:hover {
        background-color: $buttonBgHover;
    }

    &__btn {
        @extend %btn-styles;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        max-width: 190px;
        padding: 14px 0;
        border: 1px solid $borderColor;
        border-radius: 40px;
        background-color: $bgColor;

        @media (max-width:$tablet) {
            @include font(16px, 20px, 400);
            max-width: 178px;
            padding: 15px;
        }
    }

    &__text {
        @include font(18px, 22px, 400);
        max-width: 112px;
        color: $textBtnColor;

        @media (max-width:$tablet) {
            @include font(16px, 20px, 400);
            max-width: 100px;
        }
    }

    &__text:hover {
        color: $NeofiColor;
    }
}

.partners {
    background-color: $bgSecColor;
    padding: 40px 0;

    &__text {
        @include font(16px, 20px, 400);
        color: $textColor;
        margin-bottom: 40px;
    }
}

.partners .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner {
    width: 100%;
    max-width: 941px;
    display: flex;
    justify-content: space-between;

    @media (max-width:$tablet) {
        flex-wrap: wrap;
    }

    @media (max-width:$mobile) {
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px 20px;
    }

    &__link {
        display: flex;
        text-decoration: none;
    }

    &__logo {
        width: 129px;
        height: 32px;

        @media (max-width:$tablet) {
            width: 113px;
            height: 28px;
        }

        @media (max-width:$mobile) {
            width: 97px;
            height: 24px;
        }
    }
}