* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$btnBg: #9DFF3A;
$btnSecondaryText: #000000;
$btnBgHover: #FFFFFF;
$bgPrimary: #000000;
$bgSecondary: #0F0F0F;
$borderStatus: #2E2E2E;
$borderColor: #4D4D4D;
$titleColor: #E5E5E5;
$neofiColor: #FFFFFF;
$textHover: #E5E5E5;
$btnPrimaryText: #E5E5E5;
$textPrimary: #999999;
$textGreen: #9DFF3A;
$iconNormal: #9DFF3A;
$bgFeature: rgba(255, 255, 255, 0.04);
$gradientGreen: linear-gradient(180deg, #75a941 0%, #3a7500 100%);
$gradientLinear: linear-gradient(272.36deg,
        rgba(77, 77, 77, 0.6) -14.37%,
        rgba(179, 179, 179, 0.6)116.83%);
$fontPrimary: "Alexandria", sans-serif;
$fontSecond: "Inter", sans-serif;

$tablet: 1024px;
$mobile: 767px;

body {
    font-family: $fontPrimary;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

@mixin font($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

%btn-styles {
    width: 100%;
    cursor: pointer;
    color: $btnSecondaryText;
    font-family: $fontPrimary;
}

%title-styles {
    @include font(48px, 100%, 400);
    text-transform: capitalize;
    color: $titleColor;
    text-align: center;
    margin-bottom: 20px;
}

%text-styles {
    font-family: $fontSecond;
    @include font(18px, 140%, 400);
    text-align: center;
    color: $textPrimary;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 20px 0;
    background-color: $bgPrimary;

    &__burger {
        display: none;

        @media (max-width: $mobile) {
            display: flex;
            background-color: transparent;
            border: none;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
        }
    }
}

.logo {
    @include font(22px, 27px, 500);
    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 11px;
    text-decoration: none;
    color: $neofiColor;

    @media (max-width: $tablet) {
        max-width: 180px;
    }

    svg:hover path {
        fill: $btnBgHover;
    }

    svg:active path {
        fill: $iconNormal;
    }
}

.nav {

    @media (max-width: $mobile) {
        display: none;
    }

    &__list {
        display: flex;
        column-gap: 30px;
        list-style: none;
    }

    &__item {
        width: 100%;
    }

    &__link {
        @include font(16px, 20px, 400);
        text-decoration: none;
        text-transform: capitalize;
        color: $textPrimary;
    }

    &__link:hover {
        color: $textHover;
    }

    &__link:active {
        color: $textPrimary;
    }
}

.cta {
    @media (max-width: $mobile) {
        display: none;
    }

    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;

    @media (max-width: $tablet) {
        max-width: 180px;
    }

    &__link {
        @include font(16px, 20px, 400);
        text-decoration: none;
        text-transform: capitalize;
        color: $textPrimary;
    }

    &__link:hover {
        color: $neofiColor;
    }

    &__link:active {
        color: $textPrimary;
    }

    &__btn {
        @include font(16px, 20px, 400);
        @extend %btn-styles;
        border-radius: 40px;
        padding: 10px 0;
        max-width: 141px;
        background-color: $btnBg;
        color: $btnSecondaryText;
        border: none;

        @media (max-width: $tablet) {
            display: none;
        }

    }

    &__btn:hover {
        background-color: $btnBgHover;
    }

    &__btn:active {
        background-color: $btnBg;
    }
}

.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile) {
        display: block;
    }
}

.banner {
    padding: 88px 0;
    background-color: $bgPrimary;

    @media (max-width: $tablet) {
        padding: 40px 0;
    }

    &__intro {
        // position: relative;

        @media (max-width: $tablet) {
            max-width: 530px;
        }

        @media (max-width: $mobile) {
            max-width: 100%;
            text-align: center;
            margin-bottom: 32px;
        }


    }

    &__title {
        color: $titleColor;
        text-transform: capitalize;
        @include font(64px, 110%, 700);
        max-width: 661px;
        margin-bottom: 24px;

        @media (max-width: $tablet) {
            @include font(48px, 110%, 600);
            max-width: 520px;
            margin-bottom: 20px;
        }

        @media (max-width: $mobile) {
            @include font(40px, 110%, 500);
            max-width: 100%;
            margin-bottom: 16px;
        }
    }

    &__text {
        font-family: $fontSecond;
        color: $textPrimary;
        @include font(20px, 140%, 400);
        max-width: 583px;
        margin-bottom: 40px;

        @media (max-width: $tablet) {
            @include font(18px, 20px, 400);
            max-width: 500px;
            margin-bottom: 36px;
        }

        @media (max-width: $mobile) {
            @include font(16px, 20px, 400);
            font-family: $fontPrimary;
            max-width: 100%;
            margin-bottom: 32px;
        }
    }

    &__wrapper-image {
        aspect-ratio: 1 / 1;

        @media (max-width:$mobile) {
            max-width: 300px;
            margin: 0 auto;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: $tablet) {
            max-width: 400px;
        }
    }
}



.actions {
    width: 100%;
    max-width: 361px;
    display: flex;
    column-gap: 20px;

    @media (max-width:$mobile) {
        max-width: 100%;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    &__link {
        @include font(18px, 22px, 400);
        @extend %btn-styles;
        max-width: 151px;
        border: none;
        border-radius: 40px;
        padding: 14px 0;
        background-color: $btnBg;
        text-decoration: none;

        @media (max-width:$tablet) {
            @include font(16px, 20px, 400);
            max-width: 140px;
            padding: 14px;
        }
    }

    &__link:hover {
        background-color: $btnBgHover;
    }

    &__btn {
        @extend %btn-styles;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        max-width: 190px;
        padding: 14px 0;
        border: 1px solid $borderColor;
        border-radius: 40px;
        background-color: $bgPrimary;

        @media (max-width:$tablet) {
            @include font(16px, 20px, 400);
            max-width: 178px;
            padding: 15px;
        }
    }

    &__text {
        @include font(18px, 22px, 400);
        color: $btnPrimaryText;

        @media (max-width:$tablet) {
            @include font(16px, 20px, 400);
            max-width: 100px;
        }
    }

    &__text:hover {
        color: $neofiColor;
    }
}

.partners {
    background-color: $bgSecondary;
    padding: 40px 0;

    &__text {
        @include font(16px, 20px, 400);
        color: $textPrimary;
        margin-bottom: 40px;
        text-align: center;

        @media (max-width:$mobile) {
            margin-bottom: 32px;
        }
    }
}

.partner {
    display: flex;
    justify-content: center;
    column-gap: 72px;

    @media (max-width:$tablet) {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    @media (max-width:$mobile) {
        flex-wrap: wrap;
        gap: 16px 20px;
    }

    &__link {
        display: flex;
        text-decoration: none;
        max-width: 129px;
    }

    &__logo {
        width: 100%;
    }
}

.features .container {
    position: relative;
}

.features .container::before {
    content: '';
    width: 49%;
    height: 82%;
    left: 50%;
    top: 36px;
    transform: translateX(-50%);
    background: rgba(74, 90, 236, 0.06);
    filter: blur(139.9px);
    z-index: 0;
    position: absolute;
}

.features {
    padding: 80px 0;
    background-color: $bgPrimary;

    @media (max-width:$mobile) {
        padding: 40px 0;
    }

    &__info {
        max-width: 644px;
        margin: 0 auto 80px;
    }

    &__status {
        padding: 11px 0;
        max-width: 100px;
        margin: 0 auto 20px;

        // @media (max-width:$mobile) {
        //     margin: 0 auto 16px;
        // }
    }

    &__title {
        @extend %title-styles;

        @media (max-width:$mobile) {
            font-size: 28px;
            margin-bottom: 16px;
        }
    }

    &__text {
        @extend %text-styles;

        @media (max-width:$mobile) {
            font-size: 16px;
            line-height: 20px;
            font-family: $fontPrimary;
        }
    }
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 100%;
    max-width: 137px;
    padding: 9px 0;
    border: 1px solid $borderStatus;
    border-radius: 24px;
    @include font(14px, 17px, 400);
    color: $textGreen;
    background-color: $bgPrimary;
    backdrop-filter: blur(40px);

    &_linear {
        margin-bottom: 24px;
    }

    @media (max-width: $tablet) {
        margin-bottom: 20px;
    }

    @media (max-width:$mobile) {
        margin: 0 auto 16px;
    }
}

.feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;

    @media (max-width:$mobile) {
        grid-template-columns: 1fr;
        row-gap: 16px;
    }

    &__block {
        position: relative;
    }

    &__bg {
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        background: $gradientLinear;
        border-radius: 12px;
    }

    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 48px 36px;
        border-radius: 12px;
        background: $bgPrimary;
        z-index: 1;

        @media (max-width:$mobile) {
            padding: 30px 24px;
        }
    }

    &__wrapper-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        margin: 0 auto 36px;
    }

    &__title {
        font-family: $fontSecond;
        @include font(20px, 140%, 400);
        text-align: center;
        color: $titleColor;
        margin-bottom: 16px;
    }

    &__text {
        @include font(16px, 20px, 400);
        color: $textPrimary;
        text-align: center;
    }
}

.statistics {
    padding: 120px 0;
    background: $bgSecondary;

    @media (max-width:$mobile) {
        padding: 40px 0;
    }

    &__info {
        margin-bottom: 72px;

        @media (max-width:$mobile) {
            margin-bottom: 32px;
        }
    }

    &__status {
        max-width: 104px;
        padding: 11px 0px;
        margin: 0 auto 20px;
    }

    &__title {
        @extend %title-styles;

        @media (max-width:$mobile) {
            font-size: 28px;
            margin-bottom: 16px;
        }
    }

    &__text {
        @extend %text-styles;
        max-width: 644px;
        margin: 0 auto;

        @media (max-width:$mobile) {
            font-family: $fontPrimary;
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__list {
        display: flex;
        column-gap: 72px;
        justify-content: center;

        @media (max-width:$mobile) {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }
    }
}

.statistic {

    &__title {
        @extend %title-styles;
        color: $textGreen;

        @media (max-width:$mobile) {
            margin-bottom: 12px;
        }
    }

    &__text {
        @extend %text-styles;
        font-size: 20px;
        text-transform: capitalize;
    }
}

.blockchain {
    padding: 60px 0;
    background: $bgPrimary;

    @media (max-width:$mobile) {
        padding: 40px 0;
    }

    &__info {
        max-width: 890px;
        margin: 0 auto 80px;

        @media (max-width:$tablet) {
            margin: 0 auto 32px;
        }

        @media (max-width:$mobile) {
            max-width: 100%;
        }
    }

    &_status {
        max-width: 94px;
        margin: 0 auto 20px;
        padding: 11px 0;

        @media (max-width:$mobile) {
            margin: 0 auto 16px;
        }
    }

    &__title {
        @extend %title-styles;

        @media (max-width:$mobile) {
            font-size: 28px;
        }
    }

    &__text {
        max-width: 644px;
        margin: 0 auto;
        @extend %text-styles;

        @media (max-width:$mobile) {
            font-size: 16px;
        }
    }

    &__content {
        display: flex;
        column-gap: 72px;
        justify-content: center;
        align-items: center;

        @media (max-width:$tablet) {
            flex-direction: column;
        }
    }

    &__wrapper-image {
        overflow: hidden;
        aspect-ratio: 1/1;



        @media (max-width:$tablet) {
            margin-bottom: 32px;
            max-width: 406px;
        }

        @media (max-width:$mobile) {
            max-width: 306px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.promo {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 40px;
    max-width: 622px;

    @media (max-width:$mobile) {
        max-width: 100%;
        row-gap: 16px;
    }

    &__block {
        position: relative;
    }

    &__content {
        position: relative;
        display: grid;
        grid-template-columns: 30px 1fr;
        width: 100%;
        height: 100%;
        padding: 30px 20px;
        border-radius: 20px;
        background: $bgPrimary;
        column-gap: 24px;
        z-index: 1;

        @media (max-width:$mobile) {
            column-gap: 20px;
            padding: 24px 20px;
        }
    }

    &__bg {
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        background: $gradientLinear;
        border-radius: 20px;
    }

    &__wrapper-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
    }

    &__title {
        font-family: $fontSecond;
        @include font(20px, 140%, 400);
        color: $titleColor;
        margin-bottom: 8px;
    }

    &__text {
        @include font(16px, 20px, 400);
        color: $textPrimary;

        @media (max-width:$mobile) {
            font-size: 14px;
            line-height: 17px;
        }
    }
}