* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alexandria", sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.promo__block::before {
  position: absolute;
  background: rgba(255, 255, 255, 0.04);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.testimonial .container::before, .statistics .container::before, .features .container::before, .banner .container::before {
  position: absolute;
  width: 49%;
  height: 82%;
  left: 50%;
  top: 36px;
  transform: translateX(-50%);
  background: rgba(74, 90, 236, 0.06);
  filter: blur(139.9px);
  z-index: 2;
}

.actions__btn, .actions__link, .cta__btn {
  width: 100%;
  cursor: pointer;
  color: #000000;
  font-family: "Alexandria", sans-serif;
}

.testimonial__title, .blockchain__title, .statistic__title, .statistics__title, .features__title {
  font-size: 48px;
  line-height: 100%;
  font-weight: 400;
  text-transform: capitalize;
  color: #E5E5E5;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial__text, .blockchain__text, .statistic__text, .statistics__text, .features__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  text-align: center;
  color: #999999;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 20px 0;
  background-color: #000000;
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: flex;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  width: 100%;
  max-width: 254px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .logo {
    max-width: 180px;
  }
}
.logo svg:hover path {
  fill: #FFFFFF;
}
.logo svg:active path {
  fill: #9DFF3A;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  list-style: none;
}
.nav__item {
  width: 100%;
}
.nav__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: #999999;
}
.nav__link:hover {
  color: #E5E5E5;
}
.nav__link:active {
  color: #999999;
}

.cta {
  width: 100%;
  max-width: 254px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (max-width: 767px) {
  .cta {
    display: none;
  }
}
@media (max-width: 1024px) {
  .cta {
    max-width: 180px;
  }
}
.cta__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: #999999;
}
.cta__link:hover {
  color: #FFFFFF;
}
.cta__link:active {
  color: #999999;
}
.cta__btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 40px;
  padding: 10px 0;
  max-width: 141px;
  background-color: #9DFF3A;
  color: #000000;
  border: none;
}
@media (max-width: 1024px) {
  .cta__btn {
    display: none;
  }
}
.cta__btn:hover {
  background-color: #FFFFFF;
}
.cta__btn:active {
  background-color: #9DFF3A;
}

.banner .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .banner .container {
    display: block;
  }
}

.banner .container::before {
  content: "";
  left: -15%;
  background: rgba(74, 90, 236, 0.16);
}

.banner {
  padding: 88px 0;
  background-color: #000000;
}
@media (max-width: 1024px) {
  .banner {
    padding: 40px 0;
  }
}
@media (max-width: 1024px) {
  .banner__intro {
    max-width: 530px;
  }
}
@media (max-width: 767px) {
  .banner__intro {
    max-width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
}
.banner__title {
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 64px;
  line-height: 110%;
  font-weight: 700;
  max-width: 661px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 110%;
    font-weight: 600;
    max-width: 520px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 40px;
    line-height: 110%;
    font-weight: 500;
    max-width: 100%;
    margin-bottom: 16px;
  }
}
.banner__text {
  font-family: "Inter", sans-serif;
  color: #999999;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  max-width: 583px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    max-width: 500px;
    margin-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .banner__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Alexandria", sans-serif;
    max-width: 100%;
    margin-bottom: 32px;
  }
}
.banner__wrapper-image {
  aspect-ratio: 1/1;
}
@media (max-width: 767px) {
  .banner__wrapper-image {
    max-width: 300px;
    margin: 0 auto;
  }
}
.banner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .banner__image {
    max-width: 400px;
  }
}

.actions {
  width: 100%;
  max-width: 361px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 767px) {
  .actions {
    max-width: 100%;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}
.actions__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  max-width: 151px;
  border: none;
  border-radius: 40px;
  padding: 14px 0;
  background-color: #9DFF3A;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .actions__link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    max-width: 140px;
    padding: 14px;
  }
}
.actions__link:hover {
  background-color: #FFFFFF;
}
.actions__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  max-width: 190px;
  padding: 14px 0;
  border: 1px solid #4D4D4D;
  border-radius: 40px;
  background-color: #000000;
}
@media (max-width: 1024px) {
  .actions__btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    max-width: 178px;
    padding: 15px;
  }
}
.actions__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #E5E5E5;
}
@media (max-width: 1024px) {
  .actions__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    max-width: 100px;
  }
}
.actions__text:hover {
  color: #FFFFFF;
}

.partners {
  background-color: #0F0F0F;
  padding: 40px 0;
}
.partners__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .partners__text {
    margin-bottom: 32px;
  }
}

.partner {
  display: flex;
  justify-content: center;
  -moz-column-gap: 72px;
       column-gap: 72px;
}
@media (max-width: 1024px) {
  .partner {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media (max-width: 767px) {
  .partner {
    flex-wrap: wrap;
    gap: 16px 20px;
  }
}
.partner__link {
  display: flex;
  text-decoration: none;
  max-width: 129px;
}
.partner__logo {
  width: 100%;
}

.features .container {
  position: relative;
}

.features .container::before {
  content: "";
}

.features {
  padding: 80px 0;
  background-color: #000000;
}
@media (max-width: 767px) {
  .features {
    padding: 40px 0;
  }
}
.features__info {
  max-width: 644px;
  margin: 0 auto 80px;
}
.features__status {
  padding: 11px 0;
  max-width: 100px;
  margin: 0 auto 20px;
}
@media (max-width: 767px) {
  .features__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .features__text {
    font-size: 16px;
    line-height: 20px;
    font-family: "Alexandria", sans-serif;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 100%;
  max-width: 137px;
  padding: 9px 0;
  border: 1px solid #2E2E2E;
  border-radius: 24px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #9DFF3A;
  background-color: #000000;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.status_linear {
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .status {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .status {
    margin: 0 auto 16px;
  }
}

.feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 767px) {
  .feature {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}
.feature__block {
  position: relative;
}
.feature__block::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.04);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.feature__bg {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background: linear-gradient(272.36deg, rgba(77, 77, 77, 0.6) -14.37%, rgba(179, 179, 179, 0.6) 116.83%);
  border-radius: 12px;
}
.feature__content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 48px 36px;
  border-radius: 12px;
  background: #000000;
  z-index: 1;
}
@media (max-width: 767px) {
  .feature__content {
    padding: 30px 24px;
  }
}
.feature__wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0 auto 36px;
}
.feature__title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  text-align: center;
  color: #E5E5E5;
  margin-bottom: 16px;
}
.feature__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
  text-align: center;
}

.statistics .container {
  position: relative;
}

.statistics .container::before {
  content: "";
}

.statistics {
  padding: 120px 0;
  background: #0F0F0F;
}
@media (max-width: 767px) {
  .statistics {
    padding: 40px 0;
  }
}
.statistics__info {
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .statistics__info {
    margin-bottom: 32px;
  }
}
.statistics__status {
  max-width: 104px;
  padding: 11px 0px;
  margin: 0 auto 20px;
}
@media (max-width: 767px) {
  .statistics__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
}
.statistics__text {
  max-width: 644px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .statistics__text {
    font-family: "Alexandria", sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
}
.statistics__list {
  display: flex;
  -moz-column-gap: 72px;
       column-gap: 72px;
  justify-content: center;
}
@media (max-width: 767px) {
  .statistics__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}

.statistic__title {
  color: #9DFF3A;
}
@media (max-width: 767px) {
  .statistic__title {
    margin-bottom: 12px;
  }
}
.statistic__text {
  font-size: 20px;
  text-transform: capitalize;
}

.blockchain {
  padding: 60px 0;
  background: #000000;
}
@media (max-width: 767px) {
  .blockchain {
    padding: 40px 0;
  }
}
.blockchain__info {
  max-width: 890px;
  margin: 0 auto 80px;
}
@media (max-width: 1024px) {
  .blockchain__info {
    margin: 0 auto 32px;
  }
}
@media (max-width: 767px) {
  .blockchain__info {
    max-width: 100%;
  }
}
.blockchain_status {
  max-width: 94px;
  margin: 0 auto 20px;
  padding: 11px 0;
}
@media (max-width: 767px) {
  .blockchain_status {
    margin: 0 auto 16px;
  }
}
@media (max-width: 767px) {
  .blockchain__title {
    font-size: 28px;
  }
}
.blockchain__text {
  max-width: 644px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .blockchain__text {
    font-size: 16px;
  }
}
.blockchain__content {
  display: flex;
  -moz-column-gap: 72px;
       column-gap: 72px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .blockchain__content {
    flex-direction: column;
  }
}
.blockchain__wrapper-image {
  overflow: hidden;
  aspect-ratio: 1/1;
}
@media (max-width: 1024px) {
  .blockchain__wrapper-image {
    margin-bottom: 32px;
    max-width: 406px;
  }
}
@media (max-width: 767px) {
  .blockchain__wrapper-image {
    max-width: 306px;
  }
}
.blockchain__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 40px;
  max-width: 622px;
}
@media (max-width: 767px) {
  .promo {
    max-width: 100%;
    row-gap: 16px;
  }
}
.promo__block {
  position: relative;
}
.promo__block::before {
  content: "";
}
.promo__content {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  border-radius: 20px;
  background: #000000;
  -moz-column-gap: 24px;
       column-gap: 24px;
  z-index: 1;
}
@media (max-width: 767px) {
  .promo__content {
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 24px 20px;
  }
}
.promo__bg {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background: linear-gradient(272.36deg, rgba(77, 77, 77, 0.6) -14.37%, rgba(179, 179, 179, 0.6) 116.83%);
  border-radius: 20px;
}
.promo__wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.promo__title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  color: #E5E5E5;
  margin-bottom: 8px;
}
.promo__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
}
@media (max-width: 767px) {
  .promo__text {
    font-size: 14px;
    line-height: 17px;
  }
}

.testimonial .container {
  position: relative;
}

.testimonial .container::before {
  content: "";
}

.testimonial {
  padding: 80px 0 149px 0;
  background: #0F0F0F;
}
.testimonial__info {
  max-width: 644px;
  margin: 0 auto 72px;
}
.testimonial__status {
  padding: 11px 0;
  max-width: 121px;
  margin: 0 auto 20px;
}/*# sourceMappingURL=style.css.map */